<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DatConnectionString" connectionString="server=my01.everleap.com;user id=rootdat;password=ch@ng34G00d;persistsecurityinfo=True;database=mysql_2192_dat;check parameters=false;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings />

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".datx" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="dat" assembly="Dat.V1.Framework.Controls" namespace="Dat.V1.Framework.Controls" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="standards/v1/geo_location/postal_code" type="TestStandards.GetLocation.PostalCode, TestStandards" />
      <add verb="*" path="/dat/v1/membership/user/" type="Dat.V1.Services.Membership.User, Dat.V1.Services.Membership" />
      <add path="*.datx" type="System.Web.UI.PageHandlerFactory" verb="*" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ControllerModule" type="Dat.V1.Framework.HttpModules.ControllerModule,  Dat.V1.Framework.HttpModules" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="datx" path="*.datx" type="System.Web.UI.PageHandlerFactory" verb="*" />
      <add name="Standards_Location" verb="*" path="standards/v1/geo_location/postal_code" type="TestStandards.GeoLocation.PostalCode, TestStandards" />
      <add name="Administrative_Request" verb="*" path="dat/v1/tracking/request" type="Dat.V1.Services.Administrative.Tracking.Request, Dat.V1.Services.Administrative" />
      <add name="membership_user" verb="*" path="/dat/v1/membership/user" type="Dat.V1.Services.Membership.User, Dat.V1.Services.Membership" />
      <add name="membership_authentication" verb="*" path="/dat/v1/membership/authenticate" type="Dat.V1.Services.Membership.Authentication.Authenticate, Dat.V1.Services.Membership.Authentication" />
      <add name="Content" verb="*" path="common/v1/resource/content" type="Dat.V1.Framework.HttpHandlers.Resource.Content, Dat.V1.Framework" />
      <add name="Template" verb="*" path="common/v1/resource/template" type="Dat.V1.Framework.HttpHandlers.Resource.Template,Dat.V1.Framework" />
    </handlers>
    <caching enabled="false" enableKernelCache="false" />
  </system.webServer>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

</configuration>