<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DatConnectionString" connectionString="server=my01.everleap.com;user id=rootdat;password=ch@ng34G00d;persistsecurityinfo=True;database=mysql_2192_dat;check parameters=false;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="environment"  value="Staging" xdt:Transform="Insert" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>

</configuration>