<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.webServer>
    <modules>
      <add name="AuthenticationModule" type="DAT.v1.Web.HttpModules.Authentication.AuthenticationModule, DAT.v1.Web.HttpModules" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="TestSuggestion" verb="*" path="standards/location/postalcode" type="DAT.v1.Web.Services.Standards.Location.PostalCode, DAT.v1.Web.Services.Standards" />
    </handlers>
  </system.webServer>
</configuration>
